PORT=3000
MONGO_URI=mongodb://root:CHANGE_ME@mongo:27017/novel_reader?authSource=admin
MONGO_DATABASE=novel_reader
USERS_COLLECTION=users
TOKEN_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
PASSWORD_SALT_ROUNDS=10
